[submodule "boards/KM2"]
	path = boards/KM2
	url = https://student.robotika.ceitec.vutbr.cz/PCBS/KM2.git
[submodule "boards/mainboard"]
	path = boards/mainboard
	url = https://student.robotika.ceitec.vutbr.cz/PCBS/MAINBOARD.git
